.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* charity card */
.charity-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.charity-card:hover {
  transform: translateY(-5px);
}

.charity-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.charity-info {
  flex-grow: 1;
}

.charity-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.charity-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.charity-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.charity-link:hover {
  color: #0056b3;
}

/* header */
/* Header Styles */
.site-header {
  background-color: #45a049;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 100%; /* Limit the image's width to the container's width */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-height: 40px;
}


.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  margin-right: 20px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.main-nav ul li a:hover {
  color: #ffcc00;
}

/* Popup Styles */
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-inner {
  background-color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 40%;
}

.popup-inner h2 {
  margin-top: 0;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Primary Button */
.button-primary {
  background-color: #ffcc00;;
  color: #030303;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #f7c911;;
}

/* Secondary Button */
.button-secondary {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-secondary:hover {
  background-color: #555;
  color: #fff;
}

.sign-up {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}